@tailwind base;
@tailwind components;
@tailwind utilities;

button{
    @apply bg-gray-300;
}

button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #F5385D;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

/* Remove the arrow on number input */
@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
    }
 }

